.controller {
  padding: 0.5em;
}

.playlist-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controller-hr {
  border: none;
  border-top: 1px solid #ccc;
}

.media-info-form {
  display: grid;
  gap: 0.25em;
  grid-template-columns: 1fr;

  .media-info-grid {
    display: grid;
    grid-template-columns: 0fr 1fr auto;
    gap: 0.25em;

    label {
      text-align: center;
    }

    .label-div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input[name='media-title'] {
      grid-column: 2 / -1;
    }
  }

  .form-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.25em;
  }
}

.media-details-controller {
  text-align: right;
}

.debug-info-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
