*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.preload * {
  transition: none !important;
}

body {
  font-family: monospace;
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: #222;
  color: white;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  line-height: 2;
}

a, .link-button {
  color: oklch(69.12% 0.16 250.94);
  transition: all 0.5s ease;
  cursor: pointer;
  text-decoration: none;

  &:hover:not(.no-link-effect):not(.button-link) {
    filter: brightness(150%);
    text-decoration: underline;
  }
}

.link-button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline;
  text-align: start;
  width: auto;
  height: auto;
  padding: 0;
  align-items: normal;
  font-size: 1em;
  font-family: monospace;
}

.button-link {
  display: inline-block;
}

blockquote {
  background-color: #f75353;
  display: inline-block;
  padding: 0.2em;
}

main {
  & > p, blockquote {
    margin-bottom: 0.5em;
  }
}

.small-padding {
  padding: 1em;
}

.blue-button {
  background-color: #8ad5ef;
}

.red-button {
  background-color: #f75353;
}

.blue-button, .red-button {
  border-radius: 0.5em;
  padding: 0.3em;
  border: none;
  margin: 0.1em;
  font-family: monospace;
  font-size: 1em;
  transition: all 0.5s ease;
  color: black;
  line-height: 1.5;

  &:hover {
    filter: brightness(150%);
  }
}

input {
  font-size: 1em;
  background-color: black;
  accent-color: black;
  color: white;
  outline: none;
  border-radius: .25em;
  border: none;
}

select {
  font-size: 1em;
  font-size: 1em;
  background-color: black;
  color: white;
  outline: none;
  border-radius: .25em;
  border: none;
}
