.header {
  background: #111;
  margin-top: 0px;
  transition: all 1s;
  box-shadow: 0 0.3em 0.2em #f75353;
  z-index: 1;
  position: relative;

  &>.logo {
    padding-right: 2em;
  }

  &.hidden {
    margin-top: -4em;
    box-shadow: none;
  }
}

.logo {
  height: 2.5em;
  vertical-align: middle;
  content: url("/assets/plst.svg");
}

.header-nav {
  display: flex;
  width: 100%;
  gap: 1.5em;
  align-items: center;
  justify-content: space-between;
  font-family: monospace;
  font-size: 1.25em;
  padding: 0.25em;

  .tooltip-wrapper {
    align-self: end;
    flex-direction: row-reverse;
    margin-left: auto;

    .tooltip {
      color: #aaa;
      font-size: 0.6em;
    }
  }
}
