#player-details {
    margin: 0.5em;
    border-width: 1px;
    border-color: #f75353;
    border-style: solid;

    nav {
        border-bottom: 1px #f75353 solid;
        background-color: #2f2f2f;

        ul {
            line-height: 0;
            display: flex;

            li {
                button {
                    font-size: large;
                    padding: 0.5em;
                    border: none;

                    background-color: inherit;
                    color: white;

                    &:hover {
                        background-color: #f97575;
                    }

                    &.active {
                        background-color: #f75353;
                    }
                }
            }
        }
    }

    .tabs {
        .tab {
            display: none;

            &.active {
                display: inherit;
            }
        }

        .playlist-tab {
            .add-url-form {
                flex-grow: 1;
                display: flex;
                flex-wrap: nowrap;
                gap: 0.2em;
                align-items: center;
                margin: 0.5em;
    
                input[type="text"] {
                    flex-grow: 1;
                }
            }
        }
    }
}


.button-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5em;
    margin: 0.5em;
}

.playlist-entry {
    display: inline-flex;
    width: 100%;
    padding-right: 0.75em;

    &:hover > .playlist-entry-content > .playlist-utilities {
        display: inline-flex;
        gap: 0.2em;
        margin-left: 0.2em;
    }

    .playlist-utilities {
        display: none;
    }
}

.playlist-media-duration {
    margin-left: auto;
}

.main-playlist {
    overflow-y: scroll;
    height: 20em;
}

.playlist-stats {
    padding-right: 0.75em;
    text-align: right;
}

#current-playlist-item {
  color: #8ad5ef;
}
