.sidebar-nav {
  list-style-type: disc;
  list-style-position: inside;
  border-radius: 0.5rem;
  border-color: black;
  border-width: 0.125rem;
  border-style: solid;
  padding: 0.5rem;
  width: 30%;
}
