.watch-select {
  margin: 1em auto;
  max-width: 40em;
  padding: 1em;

  text-align: right;

  header {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
  }

  thead {
    background-color: #c4ebff;
  }

  th,
  td {
    border: 1px solid rgb(140, 140, 140);
    padding: 0.5rem;
    text-align: center;
  }

  th {
    font-weight: bold;
    a {
      font-weight: normal;
    }
  }
}
